@font-face {
  font-family: "OpenDyslexic";
  src: local("OpenDyslexic"), url("./dyslexic_font/OpenDyslexic-Regular.otf") format("trutype");
}

.dys_bod {
  font-family: OpenDyslexic, serif;
  font-size: 30px;
}