@import 'navigation';
@import 'typography';
@import 'layout';
@import 'vars';
@import 'buttons';

html {
    background-color: white;;
}

main {
    min-height: calc(100vh - 140px);
  }

.input-field {
    background: #FFFFFF;
    border-radius: 5px;
    border: none;
    height: 2rem;
    width: 40%;
}

.highlight {
    background: #EBECED;
    padding: 16px;
    margin-bottom: 10px;
}