// removing auto margin and padding on image type component
img {
    margin: 0;
    padding: 0;
}

.home-screen {
    height: 80vh;
    padding-top: 10vh;
    padding-left: 5%;
    padding-right: 5%;
}


// Facebook Social Icon onHover Toggle 
.githubIcon {
    height: 40px;
    width: 40px;
    margin: 10px;
    margin-left: 0px;
    padding: 0px;
    background: url("../images/icons/github.svg") no-repeat;
    background-size: 100%;
    display: inline-block;
}
.githubIcon:hover {
    background: url("../images/icons/githubGrayscale.svg") no-repeat;
    background-size: 100%;
}