// this is where we will define the typography for this website

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Avenir Next';
    font-size: 40px;
    color: black;
    text-align: left;
}

h2 {
    font-family: 'Avenir Next';
    font-size: 30px;
    color: black;
    text-align: left;
}

h3 {
    font-family: 'Avenir Next';
    font-size: 20px;
    color: black;
    text-align: left;
}

h4 {
    font-family: 'Avenir Next';
    font-size: 15px;
    color: black;
    text-align: left;
}

h5 {
    font-family: 'Avenir Next';
    font-size: 12px;
    color: black;
    text-align: left;
    font-weight: normal;
}

h6 {
    font-family: 'Avenir Next';
    font-size: 10px;
    color: black;
    text-align: left;
    font-weight: lighter;
}

p {
    font-family: 'Avenir Next';
    font-size: 16px;
    color: #000000;
    text-align: left;
}

.form-label {
    font-family: 'Avenir Next';
    font-size: 20px;
    color: #000000;
    text-align: left;
}

.footer-text {
    color: white;
    opacity: 0.7;
    text-align: center;
    line-height: 80px;
    margin: 0;
}

.dys-font {
    font-family: "OpenDyslexic", serif;
    font-size: 20px;
}

.font {
    font-size: 24px;
}