$image-width: 672px;
$image-height: 390px;

* {
  box-sizing: border-box;
}

.rootContainer {
  position: relative;
  height: $image-height;
}

.image {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.image img {
  display: block;
  vertical-align: middle;
  width: $image-width;
  height: $image-height;
  max-width: initial;
}

.overlay {
}

.slider {
  position: absolute;
  z-index: 9;
  width: 10px;
  height: $image-height;
  background-color: black;
  left: calc(#{$image-width} / 2 - 5px);
}

.slider .circle {
  position: absolute;
  z-index: 9;
  cursor: ew-resize;
  width: 40px;
  height: 40px;
  background-color: #2196F3;
  opacity: 0.7;
  border-radius: 50%;
  top: calc(#{$image-height} / 2 - 20px);
  left: -15px;
}

.filter-protanopia {
  filter: url('filters.svg#protanopia');
}
.filter-protanomaly {
  filter: url('filters.svg#protanomaly');
}
.filter-deuteranopia {
  filter: url('filters.svg#deuteranopia');
}
.filter-deuteranomaly {
  filter: url('filters.svg#deuteranomaly');
}
.filter-tritanopia {
  filter: url('filters.svg#tritanopia');
}
.filter-tritanomaly {
  filter: url('filters.svg#tritanomaly');
}
.filter-achromatopsia {
  filter: url('filters.svg#achromatopsia');
}
.filter-achromatomaly {
  filter: url('filters.svg#achromatomaly');
}

.filter-undo {
  filter: url('filters.svg#testM');
}
.filter-undo2 {
  filter: url('filters.svg#testM2');
}